 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	padding-top: 2em;
	height: 5em;
	text-align: center;
}
.row {
	display: flex;
	flex-flow: row-reverse;
}
.col {
	display: flex;
	flex-flow: column-reverse;
}
.row .box{
	width: 15em
}