*{
	box-sizing: border-box;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



body{
	margin-right: 300px;
	margin-left: 300px;
}
div{
	padding: 1em;
	border: 1px solid;
}
h4{
	text-align: right;
	background-color: #cccccc;
}
.l {
	font-size: 4em;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
.gult {
	background: yellow;
	text-align: center;
}
.box1 {
	float: left;
	width: 50%;
}
.box2 {
	float: right;
	width: 50%;
}
img {
	float: right;
}