body{
	
}
h1{
	margin: 50px;
	border: solid 3px green;
}

div{
	margin: 50px;
	border: solid 7px red
}

.b1{
	color:blue;
	
}

.b2{
	color: yellow;
}

.b3{
	color: red;
	padding: 20px;
	border: dashed blue 7px;
}